.voting-container {
  display: flex;
  justify-content: space-around;
}
.true-btn,
.false-btn {
  width: 8rem;
  height: 4rem;
  cursor: pointer;
  font-size: 2rem;
}
.true-btn {
  border: 2px solid green;
  background-color: lightgreen;
}
.false-btn {
  border: 2px solid red;
  background-color: rgb(251, 112, 112);
}
.true-btn:hover,
.false-btn:hover {
  opacity: 0.6;
}
